{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<title>Ivy</title>

<meta name="description" content="Home">
<meta name="author" content="Shane Riedy">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
 

</head>
<body>
    <div id="page">
        {% include 'navbar.html' %}

        {% block content %}

        {% endblock %}
    </div>
</body>
</html>